# Ignore local configuration
config.yaml
debug.yaml

# Ignore logs
logs/
*.log

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.venv/

src/database

src/media_files/for_posts/*
src/media_files/from_posts/*